@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --redhatdisplay: "Red Hat Display", sans-serif;

  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
  --smallcontainercolor: hsl(230, 75%, 98%);
  --hover-Brightblue: hsl(245, 75%, 32%);
  --box-shadow: hsla(227, 10%, 83%, 0.795);
  --black: hsl(0, 100%, 0%);
  --white: hsl(0, 100%, 100%);
  --Mobile: 375px;
  --Desktop: 1440px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-background-desktop.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-color: var(--Paleblue);
  font-family: var(--redhatdisplay);
}

.container {
  width: 320px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 15px;
}

#header__img,
img {
  max-width: 100%;
  max-height: 165px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.description > h1 {
  font-size: 25px;
  font-weight: 900;
}
.description > p,
.description > h1 {
  font-family: var(--redhatdisplay);
}
.description > p {
  font-size: 14px;
  line-height: 1.5rem;
  margin-top: 20px;
  opacity: 50%;
  font-weight: 500;
}

.price__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 260px;
  background-color: var(--smallcontainercolor);
  border-radius: 10px;
  margin-top: 20px;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 45px;
  margin-top: 5px;
}

.price__section > img {
  max-width: 100%;
  max-height: 100%;
  height: 35px;
  width: 35px;
  margin-left: 15px;
}

.plan > h2 {
  font-size: 14px;
  font-weight: 900;
}

.plan > p {
  font-size: 12px;
  opacity: 50%;
  margin-top: 2px;
  font-weight: 700;
}
.price__section a {
  font-size: 12px;
  margin-right: 15px;
}

.btn__payment {
  height: 40px;
  width: 260px;
  border: none;
  margin-top: 30px;
  color: var(--white);
  background-color: var(--Brightblue);
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 10px;
  font-weight: 700;
  box-shadow: 0em 1em 1em 0.25em var(--box-shadow);
}

.cancel__order {
  text-decoration: none;
  color: var(--Desaturatedblue);
  font-size: small;
  margin-top: 25px;
  font-weight: 700;
}

a,
.btn__payment,
.cancel__order {
  cursor: pointer;
}
.attribution {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-left: 40px;
}

.attribution > a {
  text-decoration: none;
  color: var(--Brightblue);
}

.cancel__order:hover,
#change {
  color: var(--black);
}

.btn__payment:hover {
  background-color: var(--hover-Brightblue);
}

@media (max-width: 450px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
  .btn__payment {
    font-size: 15px;
    font-weight: 700;
    height: 50px;
  }
  .description > p {
    font-size: 16px;
    line-height: 1.4rem;
    text-align: center;
    padding: 2px;
    font-weight: 500;
    padding-top: 0;
  }
  .container {
    height: 550px;
    padding: 0;
  }
  .description {
    padding: 25px;
  }
  .cancel__order {
    font-size: medium;
  }
  .attribution {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: small;
  }
  .attribution > a {
    text-decoration: none;
    color: var(--Brightblue);
  }
}
